.card {
  padding: 1.5em;
}

.card-image img {
  object-fit: contain;
}

.card-content {
  padding: 0;
}

.rating {
  font-size: 1.5em;
}

.star {
  margin: 0 10px;
}

.grade {
  color: silver;
}

.title {
  font-size: 1.5rem;
}
